<configuration>
	<connectionStrings>
		<add name="DBConnStr" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; User ID=Admin; Data Source=C:\CodeExamples\Altoro Mutual VS2019\website\App_Data\altoro.mdb;"/>
	</connectionStrings>
	<system.web>
		<authentication mode="None"/>
		<compilation debug="true" defaultLanguage="C#"/>
		<customErrors mode="On" defaultRedirect="~/servererror.aspx">
			<error statusCode="404" redirect="~/notfound.aspx"/>
		</customErrors>
		<httpRuntime enableHeaderChecking="false"/>
		<pages buffer="true" enableViewState="false" enableViewStateMac="false" viewStateEncryptionMode="Never" validateRequest="false"/>
		<xhtmlConformance mode="Legacy"/>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear/>
				<add value="default.aspx"/>
				<add value="Default.htm"/>
				<add value="Default.asp"/>
				<add value="index.htm"/>
				<add value="index.html"/>
				<add value="iisstart.htm"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
